.rightbar {
  flex: 4;
}

.rightbarWrapper {
  padding: 10px;
  position: sticky;
  top: 50px;
}

.birthday {
  padding: 10px;
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 10px;
}
.birthdayText {
  font-size: 14px;
}

.advertisement {
  margin-top: 20px;
  border-radius: 5%;
  object-fit: contain;
  max-width: 500px;
  max-height: 400px;
}

.onlineFriends {
  margin-top: 10px;
  max-height: 260px;
  overflow-y: scroll;
}
.onlineFriendItem {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.onlineFriendImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.onlineFriendsTitle {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}
.onlineFriendItemImage {
  position: relative;
  margin-right: 10px;
}
.onlineFriendBadge {
  background-color: lime;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 2px;
  top: 2px;
  border: 2px solid #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(158, 155, 155);
}
.onlineFriendsName {
  font-size: 14px;
}
